doctype html
//if IE 8
  html.no-js.lt-ie9(lang='en')
// [if gt IE 8] <!
html.no-js(lang='en')
    // <![endif]
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width')
        title Grasshopper
        link(rel='stylesheet' href='plugin/reset.css')
        link(rel='stylesheet' href='/gh-admin/plugin/styles.css')
        link(rel='stylesheet' href='/gh-admin/plugin/sidebar.css')
        link(rel='stylesheet' href=`/gh-admin/${pluginName}/dist/styles/main.css`)
        link(rel='stylesheet' href=`/gh-admin/${pluginName}/dist/build.css`)
    body
        #plugin-sidebar
            .nav-side-menu
                .brand  
                i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
                .menu-list
                    ul#menu-content.menu-content.collapse.out
                        li
                            a(href='/gh-admin/items')
                                i.fa.fa-table.fa-lg
                                |  Content
                        li
                            a(href='/gh-admin/content-types')
                                i.fa.fa-tags.fa-lg
                                |  Types
                        li
                            a(href='/gh-admin/users')
                                i.fa.fa-users.fa-lg
                                |  Users
                        li
                            a(href='/gh-admin/commerce/#/')
                                i.fa.fa-shopping-cart.fa-lg
                                |  Commerce
        #plugin-main
            #plugin-header
                a.brand(name='brandElement', href='/items')
            #siteContainter
                // Where the plugin gets loaded
                #app

        script(src=`/gh-admin/${pluginName}/dist/build.js`)
